.client-container {
  flex: 1;
  border: 1px solid;
}

.client-container_image {
  border: 1px solid;
}

.client-container_image img {
  display: block;
  border-radius: 50%;
  margin: auto;
  transform: scale(0.5);
  border: 1px solid red;
}

.client-container_text {
  text-align: center;
  border: 1px solid blue;
}

.client-container_text p {
  font-family: var(--font-family-1);
  font-weight: 600;
  margin: auto;
  line-height: 1.5rem;
  color: var(--color-vdgb);
  border: 1px solid;
}

.client-container_text h2 {
  font-family: var(--font-family-2);
  font-weight: 900;
  color: var(--color-vddb);
}

.client-container_text h4 {
  font-family: var(--font-family-1);
  font-weight: 600;
  color: var(--color-gb);
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .client-container_text p {
    width: 80%;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .client-container_text p {
    max-width: 80%;
  }
}
