.navbar-container {
  display: flex;
  padding: 20px;
 
  border: 1px solid;
}

.navbar-desktop-container {
  display: flex;
  border: 1px solid;
}


.navbar-mobile-toggle{
  
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .navbar-desktop-container {
    display: none;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .navbar-mobile-toggle {
    display: none;
  }
}
