/* Global Rules */
.navbar-container {
  display: flex;
  padding: 20px;
  font-family: var(--font-family-1);
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
}

.navbar-container ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.navbar-container li {
  margin-left: 2.5rem;
  border: 1px solid;
}

.navbar-container a {
  text-decoration: none;
}

/* Contact Nav Item Rules */
.navbar-container li:nth-child(4) {
  font-family: var(--font-family-2);
  border-radius: 2rem;
  padding: 10px 20px;
  font-weight: 700;
}


/* Desktop Rules */
.navbar-desktop-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  border: 1px solid;
}

.navbar-desktop-container a {
  color: var(--color-w);
}



/* Mobile Rules */
.navbar-mobile_menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 10%;
  background: var(--color-w);
  height: 35%;
  width: 90%;
  clip-path: polygon(90% 10%, 100% 0, 100% 100%, 0 100%, 0 10%);
}

.navbar-mobile_menu li:nth-child(1) {
  margin-top: 3rem;
}
.navbar-mobile_menu p:nth-child(2),
.navbar-mobile_menu p:nth-child(3),
.navbar-mobile_menu p:nth-child(4) {
  margin-top: 1.5rem;
}

.navbar-mobile_menu p:nth-child(4) {
  background-color: var(--color-y);
}

.navbar-mobile_menu a {
  color: var(--color-gb);
}

.navbar-mobile_menu a:nth-last-child(1) {
  color: var(--color-vddb);
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .navbar-desktop-container {
    display: none;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .navbar-mobile-container {
    display: none;
  }
}
