.images-container {
  display: flex;
  border: 1px solid;
}

.images-container img {
  display: block;
  max-width: 100%;
  border: 1px solid;
}

/* Mobile Rules */
@media screen and (max-width: 540px) {
  .images-container {
    flex-wrap: wrap;
  }

  .images-container picture {
    flex: 1 1 50%;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
}
