.graphic2-container {
  flex: 1;
  border: 1px solid;
}

.graphic2-container_image {
  /* height: 100%; */
  background: url("../../assets/desktop/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.graphic2-container_text {
  text-align: center;
  height: 62.5rem;
  border: 1px solid;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
}
