.graphic-container {
  display: flex;
  border: 1px solid;
}
.graphic-container_image {
  flex: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  border: 1px solid;
}

.graphic-container_image img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.graphic-container_image:first-child {
  order: 2;
  background-color: var(--color-y);
}

.graphic-container_text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.graphic-container_text h1,
.graphic-container_text p,
.graphic-container_text a {
  border: 1px solid;
}

.graphic-container_text h1,
.graphic-container_text a {
  font-family: var(--font-family-2);
  color: var(--color-vddb);
  font-weight: 900;
}

.graphic-container_text p {
  font-weight: 600;
  color: var(--color-dgb);
  font-size: 18px;
  font-family: var(--font-family-1);
  line-height: 25px;
}

.graphic-container_text span a {
  text-decoration: none;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .graphic-container {
    flex-direction: column;
  }

  .graphic-container_text {
    text-align: center;
  }

  .graphic-container_text h1 {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }

  .graphic-container p {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }

  .graphic-container_text span {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* .graphic-container_image {
    background: url("../../assets/mobile/image-transform.jpg");
  } */
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .graphic-container_text{
    
  }

  .graphic-container_text h1 {
    margin-top: 8rem;
   width: 30%;
  }

  .graphic-container p {
    width: 50%;
  }

  .graphic-container_text span {
    
  }
}
